/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*utility*/

.debug {
  border: 1px solid black;
  background-color: white;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50px; 
}

.logo, .chevron, .social-media ul li, footer .footer-upper-part .container .menu ul li, header .container .menu ul {
  cursor: pointer;
}

.custom-shape-divider-top-1663090039 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1663090039 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1663090039 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1663095495 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663095495 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1663095495 .shape-fill {
  fill: #FFFFFF;
}

.section-middle, .section-closure {
  position: relative;
}

/*header*/
header {
  height: 80px;
  background-color: #3161E0;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .menu ul {
  display: flex;
  list-style: none; 
  font-weight: 600;
 }

header .container .menu ul li{
  padding: 30px;
 }

header .container .menu ul li:hover{
  text-decoration: underline;
 }

 header .container .button {
  width: 70px;
  height: 40px;
  background-color: #FFFFFF;
  color: #272B2E;
 }

header .container .button:hover {
  color: #3161E0;
}

/*jumbotron*/

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-image: url('../img/jumbo.png');
  background-size: contain;
  margin-bottom: 150px;
}

header, .jumbotron, footer {
  color: #FFFFFF;
}

.jumbotron .jumbotron-contents {
  max-width: 800px;
  text-align: center;
}

.jumbotron .jumbotron-contents h1 {
  font-size: 60px;
  font-weight: 900;
}

.jumbotron .jumbotron-contents p {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  padding: 60px 0 30px;
}

.jumbotron .jumbotron-contents .cta {
  display: flex;
  justify-content: center;
}


.jumbotron .jumbotron-contents .cta .button {
  margin: 0 20px;
  height: 57px;
  background-color: #FFFFFF;
  color: #272B2E;
  font-size: 20px;
  font-weight: 600;
  padding: 30px;
}

.jumbotron .jumbotron-contents .cta .button.mac {
  background-color: #FFFFFF;
  color: #272B2E;
}

.jumbotron .jumbotron-contents .cta .button.mac:hover {
  color: #3161E0;
}

.jumbotron .jumbotron-contents .cta .button.browser {
  background-color: #23272A;
  color: #FAFAFA;
}

.jumbotron .jumbotron-contents .cta .button.browser:hover {
  color: #3161E0;
}

/*sections*/
/*top*/
.section-top {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding-bottom: 150px;
}

.section-top .container .foto1 {
  width: 60%;
  text-align: center;
}

.section-top .container .contents {
  width: 40%;
  text-align: center;
  padding: 20px;
}

.section-top .container .contents h2 {
  text-align: left;
  padding: 10px 40px 20px 40px;
  font-size: 48px;
}

.section-top .container .contents p {
  text-align: left;
  padding: 10px 40px 40px 40px;
  font-size: 20px;
  line-height: 28px;
}

/*middle*/
.section-middle {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}

.section-middle .contents {
  width: 40%;
  text-align: center;
  padding: 20px;
}

.section-middle .container .contents h2 {
  text-align: left;
  padding: 10px 40px 20px 40px;
  font-size: 48px;
}

.section-middle .container .contents p {
  text-align: left;
  padding: 10px 40px 40px 40px;
  font-size: 20px;
  line-height: 28px;
}

.section-middle .container .foto2 {
  width: 60%;
  text-align: center;
}

/*bottom*/
.section-bottom {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}

.section-bottom .container .foto3 {
  width: 60%;
  text-align: center;
}

.section-bottom .container .contents {
  width: 40%;
  text-align: center;
  padding: 20px;
}

.section-bottom .container .contents h2 {
  text-align: left;
  padding: 10px 40px 20px 40px;
  font-size: 48px;
}

.section-bottom .container .contents p {
  text-align: left;
  padding: 10px 40px 40px 40px;
  font-size: 20px;
  line-height: 28px;
}

/*closure*/
.section-closure {
padding-top: 150px;
background-color: #F6F6F6;
}

.section-closure .container {
  width: 70%;
  display: block;
  text-align: center;
}

.section-closure .container .contents {
  text-align: center;
  padding: 20px;
}

.section-closure .container .contents h2 {
  font-size: 48px;
  padding-bottom: 20px;
}

.section-closure .container .contents p {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 20px;
}

.section-closure .container .foto4 {
  text-align: center;
  padding-bottom: 20px;
}

.section-closure .container .cta h3 {
  padding-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.section-closure .container .cta .download {
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
}

.section-closure .container .cta .download .button.mac {
  margin: 0 20px;
  height: 57px;
  background-color: #8EA1E1;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  padding: 30px;
}

.section-closure .container .cta .download .button.mac:hover {
  color: #272B2E;
}

/*footer*/
footer {
  background-color: #23272A;
  padding-top: 90px;
}

footer .footer-upper-part {
  display: flex;
  padding-bottom: 35px;
}

footer .footer-upper-part .container {
  display: flex;
  justify-content: flex-start;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.footer-left .language .flag span {
  font-size: 16px;
}

.footer-left h3 {
  font-size: 32px;
  font-weight: 800;
  color: #7289DA;
}

.footer-left .language {
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer-left .language .flag {
  width: 24px;
  height: 16px;
}

.footer-left .social-media ul {
  display: flex;
  flex-direction: row;
  list-style: none; 
 }

 .footer-left .social-media ul li {
  padding: 5px;
 }

 footer .footer-upper-part .container .menu {
  display: flex;
  justify-content: center;
  width: calc(100% / 6);
 }

footer .footer-upper-part .container .menu ul {
  list-style: none; 
}

footer .footer-upper-part .container .menu ul li {
  font-size: 16px;
  line-height: 30px;
}
  
footer .footer-upper-part .container .menu ul li:hover {
    text-decoration: underline;
}

footer .footer-upper-part .container .menu ul li:first-child {
  color: #7289DA;
}

.footer-lower-part {
  padding-bottom: 100px;
}

footer .footer-lower-part .container {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  border-top: 1px solid #8EA1E1;
 }

 .footer-lower-part .container .button {
  width: 70px;
  height: 40px;
  padding: 0 50px;
  background-color: #8EA1E1;
  color: #FFFFFF;
 }

.footer-lower-part .container .button:hover {
  color: #272B2E;
}
