/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*utility*/
.debug {
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.25);
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50px; 
}

/*header*/
header {
  height: 80px;
  background-color: #3161E0;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .menu ul {
  display: flex;
  list-style: none; 
  font-weight: 600;
 }

header .container .menu ul li{
  padding: 30px;
 }

header .container .menu ul li:hover{
  text-decoration: underline;
 }

 header .container .button {
  width: 70px;
  height: 40px;
  background-color: #FFFFFF;
  color: #272B2E;
 }

header .container .button:hover {
  color: #3161E0;
}

/*jumbotron*/

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-image: url('../img/jumbo.png');
  background-size: contain;
  margin-bottom: 150px;
}

header, .jumbotron {
  color: #FFFFFF;
}

.jumbotron .jumbotron-contents {
  max-width: 800px;
  text-align: center;
}

.jumbotron .jumbotron-contents h1 {
  font-size: 60px;
  font-weight: 900;
}

.jumbotron .jumbotron-contents p {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  padding: 60px 0 30px;
}

.jumbotron .jumbotron-contents .cta {
  display: flex;
  justify-content: center;
}


.jumbotron .jumbotron-contents .cta .button {
  margin: 0 20px;
  height: 57px;
  background-color: #FFFFFF;
  color: #272B2E;
  font-size: 20px;
  font-weight: 600;
  padding: 30px;
}

.jumbotron .jumbotron-contents .cta .button.mac {
  background-color: #FFFFFF;
  color: #272B2E;
}

.jumbotron .jumbotron-contents .cta .button.browser {
  background-color: #23272A;
  color: #FAFAFA;
}

/*sections*/
/*top*/
.section-top {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  margin-bottom: 150px;
}

.section-top .container .foto1 {
  width: 60%;
  text-align: center;
}

.section-top .container .contents {
  width: 40%;
  text-align: center;
  padding: 20px;
}

.section-top .container .contents h2 {
  text-align: left;
  padding: 10px 40px 20px 40px;
  font-size: 48px;
}

.section-top .container .contents p {
  text-align: left;
  padding: 10px 40px 40px 40px;
  font-size: 20px;
  line-height: 28px;
}

/*middle*/
.section-middle {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}

.section-middle .contents {
  width: 40%;
  text-align: center;
  padding: 20px;
}

.section-middle .container .contents h2 {
  text-align: left;
  padding: 10px 40px 20px 40px;
  font-size: 48px;
}

.section-middle .container .contents p {
  text-align: left;
  padding: 10px 40px 40px 40px;
  font-size: 20px;
  line-height: 28px;
}

.section-middle .container .foto2 {
  width: 60%;
  text-align: center;
}

.section-bottom {
  display: flex;
  align-items: center;
  /*height temporanea*/
  height: 700px;
}

.section-bottom .container .foto3 {
  /*dimensioni temporanee*/
  height: 450px;
  width: 50%;
  background-color: rgb(228, 72, 183);
  /*temporaneo*/
  text-align: center;
}

.section-bottom .container .contents {
  /*dimensioni temporanee*/
  height: 450px;
  width: 50%;
  background-color: rgb(226, 22, 155);
  text-align: center;
  padding: 20px;
}

.section-bottom .container .contents h2 {
  text-align: left;
  padding: 10px 40px 10px 40px;
  font-size: 2rem;
}

.section-bottom .container .contents p {
  text-align: left;
  padding: 10px 40px 40px 40px;
  font-size: 1rem;
}

.section-closure .container {
  width: 90%;
  display: block;
  text-align: center;

}


.section-closure .container .contents {
  /*dimensioni temporanee*/
  height: 200px;
  background-color: rgb(20, 132, 140);
  /*background img da inserire*/
  text-align: center;
  padding: 20px;
}

.section-closure .container .contents h2 {
  padding-bottom: 20px;
  font-size: 2rem;
}

.section-closure .container .contents p {
  padding-bottom: 20px;
  font-size: 1rem;
}

.section-closure .container .foto4 {
  /*dimensioni temporanee*/
  height: 570px;
  background-color: rgb(46, 45, 146);
  /*temporaneo*/
  text-align: center;
  padding-bottom: 20px;
}

.section-closure .container .cta h3 {
  padding-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.section-closure .container .cta .download {
  padding-bottom: 140px;
}

footer {
  /*dimensioni temporanee*/
  height: 670px;
  background-color: #151719;
  /*padding: 86px;*/
}

footer .footer-upper-part {
  padding-bottom: 35px;
  border-bottom: 1px solid black;
  /*background-color: beige;*/
}

.footer-left {
  display: flex;
  flex-direction: column;
  /*dimensioni temporanee*/
  width: calc(100% / 3)
}

.footer-left .social-media ul {
  display: flex;
  flex-direction: row;
  list-style: none; 
 }

 .footer-left .social-media ul li {
  padding: 5px;
 }

 footer .footer-upper-part .container .menu-1, footer .footer-upper-part .container .menu-2, footer .footer-upper-part .container .menu-3, footer .footer-upper-part .container .menu-4 {
  width: 200px;
  /*dimensioni temporanee*/
  display: flex;
  justify-content: center;
 }

 footer .footer-upper-part .container .menu-1 ul, footer .footer-upper-part .container .menu-2 ul, footer .footer-upper-part .container .menu-3 ul, footer .footer-upper-part .container .menu-4 ul {
  list-style: none; 
}

footer .footer-lower-part .container {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  background-color: bisque;
 }